<div class="d-flex justify-content-center">
    <h1 class="user-title">Dashboard</h1>
</div>
<div class="d-flex justify-content-center">
    <div>
        <%= link_to 'Register product Module', admin_products_path, class: 'button-create', class: 'btn btn-secondary m-2' %>
    </div>
</div>





