<div class="d-flex justify-content-center">
<h1>Edit Product</h1>
</div>
<%= render 'form', product: @product %>
<div class="d-flex justify-content-center">
<%= link_to 'Back', admin_products_path, class: 'btn btn-secondary m-3' %>
</div>