<div class="container">
  <div class="user-title-container">
    <h1 class="d-flex justify-content-center mt-2 mb-4">Products</h1>
  </div>

  <div class="products-container">
    <% if @products.present? %>
      <div class="products-grid">
        <% @products.each do |product| %>
          <%= link_to product_path(product.id), class: 'product-item-link' do %>
            <div class="product-item">
              <h4 class="d-flex justify-content-center"><%= product.name %></h4>
              <%= image_tag product.image, alt: 'Imagen del producto', height: '200' %>
              <p class="d-flex justify-content-center font-weight-bold">
              <%= number_to_currency(product.price) %>
              </p>
            </div>
          <% end %>
        <% end %>
      </div>
    <%else%> 
      <div class="p-3 mb-2 bg-light text-dark">
        <span class="text-info font-weight-bold">Welcome! </span>
        Create your first post
      </div>
    <%end%>
  </div>

</div>

